@page
@using System.Text.Json
@model DevicePageModel
@{
    ViewData["Title"] = "Devices";

    // Only show full details for device-1
    bool full = Model.DeviceId == "device-1";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index" class="link-primary">Devices</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.DeviceId</li>
    </ol>
    </nav>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span data-feather="calendar"></span>
                    @Model.Timeframe.ToString()
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    @foreach (var name in Enum.GetNames(typeof(DevicePageModel.TimeframeEnum)))
                    {
                        <li><a class="dropdown-item" asp-page="Device" asp-route-t="@name" asp-route-id="@Model.DeviceId">@name</a></li>
                    }
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Device
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <li><a class="dropdown-item" asp-page="Device" asp-route-id="device-1" asp-route-t="@Model.Timeframe.ToString()">device-1</a></li>
                    <li><a class="dropdown-item" asp-page="Device" asp-route-id="device-2" asp-route-t="@Model.Timeframe.ToString()">device-2</a></li>
                    <li><a class="dropdown-item" asp-page="Device" asp-route-id="device-3" asp-route-t="@Model.Timeframe.ToString()">device-3</a></li>
                    <li><a class="dropdown-item" asp-page="Device" asp-route-id="device-4" asp-route-t="@Model.Timeframe.ToString()">device-4</a></li>
                    <li><a class="dropdown-item" asp-page="Device" asp-route-id="device-5" asp-route-t="@Model.Timeframe.ToString()">device-5</a></li>
                    <li><a class="dropdown-item" asp-page="Device" asp-route-id="device-5" asp-route-t="@Model.Timeframe.ToString()">device-6</a></li>
                </ul>
                <button  type="button" class="btn btn-sm btn-outline-secondary" >
                      <span data-feather="refresh-cw"></span>
                </button>
            </div>
        </div>

        <div class="btn-group ms-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>

</div>
<canvas class="my-4 w-100" id="chart" width="900" height="380"></canvas>
<script>
    const ctx = document.getElementById('chart').getContext('2d');
    const setup = @Html.Raw(JsonSerializer.Serialize(Model.Chart, new JsonSerializerOptions() { WriteIndented = true, PropertyNamingPolicy = JsonNamingPolicy.CamelCase, DefaultIgnoreCondition = System.Text.Json.Serialization.JsonIgnoreCondition.WhenWritingNull }));
    const myChart = new Chart(ctx, setup);
</script>

<div class="row">

@foreach(var slab in Model.Slabs)
{
    <div class="col-md-6 col-lg-4 mb-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">@slab.Header</span>
        </h4>
        <ul class="list-group mb-3">
            @foreach(var prop in slab.Properties.Where(x=>!x.Writable))
            {
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">@prop.Key</h6>
                        <small class="text-body-secondary">@prop.Value</small>
                    </div>
                </li>
            }
        </ul>
        @if (slab.Properties.Any(x=>x.Writable) || slab.Commands.Any())
        {
            var index = 1;

            <form class="card p-2 mb-3">
                <div class="row g-3">
                    @foreach(var prop in slab.Properties.Where(x=>x.Writable))
                    {
                        <div class="col-12">
                            <label for="writable-@index" class="h6 form-label">@prop.Key</label>
                            <div class="input-group">
                                <input type="text" id="writable-@(index++)" class="form-control" value="@prop.Value">
                                @if (prop.Units is not null)
                                {
                                    <span class="input-group-text">@prop.Units</span>
                                }
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    }
                    @foreach(var cmd in slab.Commands)
                    {
                        <div class="col-12">
                            <label for="cmd-@index" class="h6 form-label">@cmd.Key</label>
                            <div class="input-group">
                                <input type="text" id="cmd-@(index++)" class="form-control" placeholder="@cmd.Value">
                                @if (cmd.Units is not null)
                                {
                                    <span class="input-group-text">@cmd.Units</span>
                                }
                                <button type="submit" class="btn btn-secondary">Go</button>
                            </div>
                        </div>
                    }
                </div>
            </form>            
        }
        <div class="d-flex w-100">
            <a asp-page="Component" asp-route-d="@Model.DeviceId" asp-route-c="@(slab.ComponentId)" class="icon-link h6 mb-3 ms-auto">
            More &raquo;
            </a>
        </div>
    </div>
}
@if (false)
    {
        <div class="col-md-6 col-lg-4 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Device Details</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Schema</h6>
                        <small class="text-body-secondary">BrewHub 6-Unit Distillery Prototype v1</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Working Set</h6>
                        <small class="text-body-secondary">500kiB</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">CPU Load</h6>
                        <small class="text-body-secondary">3%</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Status</h6>
                        <small class="text-body-secondary">OK</small>
                    </div>
                </li>
                @if (full)
                {
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Serial Number</h6>
                            <small class="text-body-secondary">1234567890-ABCDEF-linux</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Start Time</h6>
                            <small class="text-body-secondary">11/5/2022 15:23:04</small>
                        </div>
                    </li>
                }
            </ul>
            <form class="card p-2">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="reboot" class="h6 form-label">Restart Device</label>
                        <div class="input-group">
                            <input type="text" id="reboot" class="form-control" placeholder="Delay">
                            <span class="input-group-text">ms</span>
                            <button type="submit" class="btn btn-secondary">Go</button>
                        </div>
                    </div>
                </div>
            </form>
            <a class="w-100 btn btn-lg btn-outline-primary" asp-page="Component" asp-route-d="@Model.DeviceId" asp-route-c="">Details</a>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ambient Conditions</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Temperature</h6>
                        <small class="text-body-secondary">21°C</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Humidity</h6>
                        <small class="text-body-secondary">44%RH</small>
                    </div>
                </li>
            </ul>
            @if (full)
            {
                <form class="card p-2">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Temperature Correction</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="1.5">
                                <span class="input-group-text">°C</span>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Humidity Correction</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="-2">
                                <span class="input-group-text">%RH</span>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
            <a class="w-100 btn btn-lg btn-outline-primary" asp-page="Component" asp-route-d="@Model.DeviceId" asp-route-c="Ambient">Details</a>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Top Thermostat</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Temperature</h6>
                        <small class="text-body-secondary">85°C</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Status</h6>
                        <small class="text-body-secondary">OK</small>
                    </div>
                </li>
            </ul>
            <form class="card p-2">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="targetTemperature" class="h6 form-label">Target Temperature</label>
                        <div class="input-group">
                            <input type="text" id="targetTemperature" class="form-control" value="81">
                            <span class="input-group-text">°C</span>
                            <button type="submit" class="btn btn-secondary">Update</button>
                        </div>
                    </div>
                    @if (full)
                    {
                        <div class="col-12">
                            <label for="targetComponent" class="h6 form-label">Target Component</label>
                            <div class="input-group">
                                <input type="text" id="targetComponent" class="form-control" value="N/A">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetComponent" class="h6 form-label">Controlling</label>
                            <div class="input-group">
                                <input type="text" id="targetComponent" class="form-control" value="Reflux Valve">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Temperature Correction</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="1.5">
                                <span class="input-group-text">°C</span>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Reflux Valve</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">State</h6>
                        <small class="text-body-secondary">Open</small>
                    </div>
                </li>
            </ul>
            @if (full)
            {
                <form class="card p-2">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Manual Override</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="false">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">State</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="Open">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            }

        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Condenser Thermostat</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Temperature</h6>
                        <small class="text-body-secondary">20°C</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Status</h6>
                        <small class="text-body-secondary">OK</small>
                    </div>
                </li>
            </ul>
            <form class="card p-2">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="targetComponent" class="h6 form-label">Target Component</label>
                        <div class="input-group">
                            <input type="text" id="targetComponent" class="form-control" value="Ambient Conditions">
                            <button type="submit" class="btn btn-secondary">Update</button>
                        </div>
                    </div>

                    @if (full)
                    {
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Target Temperature</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="N/A">
                                <span class="input-group-text">°C</span>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetComponent" class="h6 form-label">Controlling</label>
                            <div class="input-group">
                                <input type="text" id="targetComponent" class="form-control" value="Condenser Valve">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Temperature Correction</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="1.5">
                                <span class="input-group-text">°C</span>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Condenser Valve</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">State</h6>
                        <small class="text-body-secondary">Closed</small>
                    </div>
                </li>
            </ul>
            @if (full)
            {
                <form class="card p-2">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">Manual Override</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="false">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="targetTemperature" class="h6 form-label">State</label>
                            <div class="input-group">
                                <input type="text" id="targetTemperature" class="form-control" value="Closed">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>

        @if (full)
        {
            <div class="col-md-6 col-lg-4 mb-3">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Device Information</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Manufacturer</h6>
                            <small class="text-body-secondary">Example</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Model</h6>
                            <small class="text-body-secondary">Thermostat Controller</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Software Version</h6>
                            <small class="text-body-secondary">0.0.0-ci-2483</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Operating System</h6>
                            <small class="text-body-secondary">Linux 5.4.0-137-generic #154-Ubuntu SMP Thu Jan 5 17:03:22 UTC 2023</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Processor Architecture</h6>
                            <small class="text-body-secondary">X64</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Total Storage</h6>
                            <small class="text-body-secondary">120GB</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Total Memory</h6>
                            <small class="text-body-secondary">7.96GB</small>
                        </div>
                    </li>
                </ul>
            </div>
        }

    }

</div>