@page
@using System.Text.Json
@model IndexModel
@{
    ViewData["Title"] = "Devices";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Devices</li>
    </ol>
    </nav>    

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group" role="group">
            <button  type="button" class="btn btn-sm btn-outline-secondary" >
                    <span data-feather="refresh-cw"></span>
            </button>
        </div>
        <div class="btn-group ms-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>

</div>
    <canvas class="my-4 w-100" id="chart" width="900" height="380"></canvas>

    <script>
    const ctx = document.getElementById('chart').getContext('2d');
    const setup = @Html.Raw(JsonSerializer.Serialize(Model.Chart, new JsonSerializerOptions() { WriteIndented = true, PropertyNamingPolicy = JsonNamingPolicy.CamelCase, DefaultIgnoreCondition = System.Text.Json.Serialization.JsonIgnoreCondition.WhenWritingNull }));
    const myChart = new Chart(ctx, setup);
    </script>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 mb-3 text-center">

    @foreach( var device in Model.Telemetry )
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">@device.Key</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <tbody>
                                @foreach( var metric in device.Value )
                                {
                                    <tr>
                                        <th scope="row" class="text-start">@metric.Key</th>
                                        <td class="text-end">@(((double)metric.Value).ToString("F1"))°C</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                <a class="w-100 btn btn-lg btn-outline-primary" asp-page="Device" asp-route-id="@device.Key">Details</a>
                </div>
            </div>
        </div>

    }

    </div>
